body {
  background-color: rgba(31, 114, 223, 0.918);
  font-family: sans-serif;

}
img {
  display: block;
  width: justify;
}
.centered-image {
  margin: auto;
  width: 45%;
  height: auto;
  display: block;
}

.my-class {
  margin: 12px;
  border: 20px solid rgb(128, 0, 111);
  padding: 47px;
  background-color: rgb(0, 89, 255);
}

.box2 {
  width: 50%;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background-color: rgba(0, 255, 170, 0.753);
  margin-bottom: 10px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row-reverse;
}

.nice {
  font-weight: bold;
  color: blue;
}